.sale-up-section {
  background: var(--white);
  // .sale-up-section__container

  &__container {
  }

  // .sale-up-section__heading

  &__heading {
  }

  // .sale-up-section__slider

  &__slider {
    
  }

  // .sale-up-section__swiper-wrapper

  &__swiper-wrapper {
  }

  // .sale-up-section__swiper-slide

  &__swiper-slide {
    
  }

  // .sale-up-section__button

  &__button {
    position: relative;
    z-index: 1;
  }

  // .sale-up-section__slider-button-prev

  &__slider-button-prev {
  }

  // .sale-up-section__slider-button-next

  &__slider-button-next {
  }
}


